body{
  background-color: #2a78ad !important;
}

input{
  background-color: aliceblue;
}

button{
  border-radius: 0.375rem;
  /* border-radius: 25px; */
  border: 3px solid black;
}
searchbar.button{
  background-color: aliceblue;
}


